<!doctype html>
<html lang="en" ng-app="myLunchApp">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script src="angular.min.js"></script>
    <script src="Validations.js"></script>
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body ng-controller="myLunchAppController">
   <div class="container">
     <h1>Lunch Checker</h1>
         <div class="form-group">
             <input ng-model="lunch_menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control">
         </div>
         <div class="form-group">
             <button ng-mouseenter='btn_mouseenter();'
                     ng-mouseleave='btn_mouseleave();'
                     ng-click="checkIfTooMuch();"
                     class="btn btn-default">
                     Check If Too Much
            </button>
             <div style='color:red;'>{{message}}</div>
         </div>
         <div class="form-group message">
           <!-- Your message can go here. -->
          {{result}}
         </div>
   </div>

</body>
</html>
